body{
    margin: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    gap: 45vw;
    width: 100vw;
    height: 10vh;
    background-color: rgb(170, 194, 173);
    align-items: center;
}

.app-name{
    font-size: 30px;
    color: rgb(47, 115, 124);
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 30px;
}
.inbox-text{
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 4rem;
}
.container{
    display: flex;
}

.left-side{

    width: 20vw;
    background-color: rgb(224, 230, 228);
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2vh;
}
.button-div{
    display: flex;
    gap: 4px;
    padding: 5px 5px 2px 10px;
    border-radius: 8px;
}
.button-div > button {
    
    width: 15vw;
    height: 3vh;
    border: none;
    background-color: inherit;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    
}
.button-div > img, .create-div > img {
    width: 24px;
    height: 24px;
}
.button-div:hover{
    background-color: rgb(193, 195, 197);
}
.projects{
    margin-top: 3rem;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    width: 20rem;
    gap: 12px;
    border-bottom: 2px solid rgb(175, 156, 156);
    padding-bottom: 10px;
}
.projects .txt{
    font-size: 24px;
    font-weight: bold;
    
}
.projects > img {
    width: 24px;
    height: 24px;margin-left: 15px;
}
.replace-create{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*background-color: blue;*/
    width: 15vw;
}
.project-name{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid black;
    height: 3vh;
    outline:none;
    
}
.project-name:focus{

    background-color: rgb(208, 210, 212);
}
.project-button > button {
    height: 40px;
    width: 80px;
    background-color: rgb(170, 194, 173);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}
.project-button > button:hover{
    background-color: rgb(151, 173, 154);
}
.project-button > button:active{
    background-color: rgb(129, 151, 132);
}
.project-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-list .item{
    display: flex;
    align-items: center;
    width: 14vw;
    height: 4vh;
    background-color: inherit;
    border-radius: 8px;
    padding-left: 10px;
}
.project-list.passive{
    display: none;
}
.button-div.passive{
    display: none;
}

.project-list .item:hover{
    background-color: rgb(193, 195, 197);
}
.project-list .item .text{
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}
.item > img {
    width: 16px;
    height: 16px;
}
.delete{
    width: 16px;
    height: 16px;    
    margin: 5px 10px 0 0;

}
.delete-button{
    align-self: right;
    background-color: inherit;
    position: absolute;
    border: none;
    width: 24px;
    height: 24px;
    left: 18rem;
    border-radius: 50%;
}
.replace-create.passive{
    display: none;
}
.right-side{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-task{
    width: 50vw;
    height: 5vh;
    background-color: rgb(224, 230, 228);
    border-radius: 8px;
    margin-top: 3rem;
    font-size: 20px;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.add-task.passive{
    display: none;
}
.add-task:hover{
    background-color: rgb(208, 214, 212);
}
.add-task:active{
    background-color: rgb(181, 184, 183);
}
.plus-img{
    width: 18px;
    height: 18px;   
}

.task-grid{
    display: grid;
    grid-auto-columns: 70vw;
    grid-auto-rows: 5vh;
    margin-top: 3rem;
    row-gap: 1rem;
}

.task-label{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 5vh;
    margin-left: 2rem;
    margin-top: 2rem;
}
.expand-img, .delete-img{
    width: 18px;
    height: 18px;
    border: none;
    background-color: inherit;
    cursor:pointer;
}
.delete-expand{
    display: flex;
    gap: 40px;
    
}
.task-grid .item{
    background-color: rgb(231, 223, 223);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 2rem;
}
.task-grid .item.passive{
    display: none;
}
.task-inputs{
    width: 22vw;
    height: 8vh;
    border: 1px solid rgb(201, 196, 196);
    margin-top: 3rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-inputs.passive{
    display: none;
}
.input-task-name, .input-task-date{
    border: none;
    border-bottom: 2px solid black;
    height: 3vh;
    outline: none;
}
.input-task-date{
    margin-top: 2px;
}
#project-select{
    border: none;
    height: 3vh;
    margin-top: 3px;
    width: 4vw;
}
#priority-select{
    border: none;
    height: 3vh;
    width: 7vw;
}
.name-date-project{
    display: flex;
    gap: 10px;
}
.priority-add-cancel{
    display: flex;
    justify-content: space-between;
}
.input-task-add, .input-task-cancel{
    background-color: rgb(170, 194, 173);
    height: 3vh;
    border: none;
    cursor: pointer;
}   

.task-grid .item.Low{
    background-color: aquamarine;
}
.task-grid .item.Medium{
    background-color: rgb(120, 76, 161);
}
.task-grid .item.High{
    background-color: rgb(184, 88, 88);
}